@model EnterpriseMaster.ViewModels.SupportViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";
}
<link href="~/css/helpcenter.css" rel="stylesheet" type="text/css">
<style>
    /* CSS */
    .button-18 {
        align-items: center;
        background-color: #0A66C2;
        border: 0;
        border-radius: 100px;
        box-sizing: border-box;
        color: #ffffff;
        cursor: pointer;
        display: inline-flex;
        font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
        font-size: 16px;
        font-weight: 600;
        justify-content: center;
        line-height: 20px;
        max-width: 480px;
        min-height: 40px;
        min-width: 0px;
        overflow: hidden;
        padding: 0px;
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
        touch-action: manipulation;
        transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
        user-select: none;
        -webkit-user-select: none;
        vertical-align: middle;
    }

    .button-18:hover,
    .button-18:focus {
        background-color: #16437E;
        color: #ffffff;
    }

    .button-18:active {
        background: #09223b;
        color: rgb(255, 255, 255, .7);
    }

    .button-18:disabled {
        cursor: not-allowed;
        background: rgba(0, 0, 0, .08);
        color: rgba(0, 0, 0, .3);
    }
</style>
<div class="helpCenterDiv" style="min-height:90vh">
    <div class="containerHelpCenterLeft">
        <a class="left-nav-link" onclick="showCreateCase()">Create Case</a>
        <a class="left-nav-link" onclick="showOpenCases()">In Progress</a>
        <a class="left-nav-link" onclick="showSolvedCases()">Solved Cases</a>
    </div>
    <div class="containerHelpCenter" style="float: right;">
        <h1>Help Center</h1>
        <br />
        <div class="help-content">
            <p>Welcome to our Help Center. Here, you can find answers to common questions and access resources to assist you in using our services.</p>

            <h2>Create a Case</h2>
            <p>If you have a specific issue or request, you can create a support case by filling out the form below. Our team will get back to you as soon as possible.</p>

            <div class="case-form">
                @using (Html.BeginForm("AddCase", "HelpCenter", FormMethod.Post))
                {
                    <div class="form-group">
                        <label asp-for="SupportCases.Title">Title:</label>
                        <input asp-for="SupportCases.Title" class="form-control" required>
                    </div>

                    <div class="form-group">
                        <label asp-for="SupportCases.Description">Description:</label>
                        <textarea asp-for="SupportCases.Description" class="form-control" style="resize: none;" rows="4" required></textarea>
                    </div>

                    <button type="submit" class="btn btn-primary">Submit Case</button>
                }
            </div>
        </div>
    </div>
    <div class="openCases containerHelpCenter" style="display:none;">
        <h1>Open Issue Cases</h1>
         <div class="table-container">
            <table class="styled-table" id="reservation-table">
                <thead class="thead-dark">
                    <tr>
                        <th>Case ID</th>
                        <th>Description</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var item in Model.SupportCasesList)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.Description</td>
                            <td>@item.CaseStatus.Status</td>
                            <td><button class="button-18" onclick="location.href='@Url.Action("RemoveCase", "HelpCenter", new { id = item.Id })'">Close</button></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="solvedCases containerHelpCenter" style="display:none;">
        <h1>Solved Issue Cases</h1>
        <div class="table-container">
            <table class="styled-table" id="reservation-table">
                <thead class="thead-dark">
                    <tr>
                        <th>Case ID</th>
                        <th>Description</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.HistoryCasesList)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.Description</td>
                            <td>@item.CaseStatus.Status</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    function showOpenCases() {
        // Show the "Open Cases" div and hide the "Solved Cases" div
        document.querySelector('.openCases').style.display = 'block';
        document.querySelector('.solvedCases').style.display = 'none';
        document.querySelector('.containerHelpCenter').style.display = 'none';
    }

    function showSolvedCases() {
        // Show the "Solved Cases" div and hide the "Open Cases" div
        document.querySelector('.openCases').style.display = 'none';
        document.querySelector('.containerHelpCenter').style.display = 'none';
        document.querySelector('.solvedCases').style.display = 'block';
    }
    function showCreateCase() {
        // Show the "Solved Cases" div and hide the "Open Cases" div
        document.querySelector('.openCases').style.display = 'none';
        document.querySelector('.containerHelpCenter').style.display = 'block';
        document.querySelector('.solvedCases').style.display = 'none';
    }
    // Get all navigation links
    const navLinks = document.querySelectorAll('.left-nav-link');

    // Add a click event listener to each link
    navLinks.forEach(link => {
        link.addEventListener('click', function () {
            // Remove 'active' class from all links
            navLinks.forEach(link => {
                link.classList.remove('active');
            });

            // Add 'active' class to the clicked link
            this.classList.add('active');
        });
    });
</script>