@model EnterpriseMaster.ViewModels.ProfileViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";
    ViewData["Title"] = "Profile";
}
<link href="~/css/profile.css" rel="stylesheet" type="text/css">
<div class="mainProfileDiv">
    <div class="container32">
        <h1>Profile Information</h1>
        <div class="row">
            <div class="col-md-6">
                <div class="section">
                    <div class="profilePictureDiv">
                        @if (Model.ProfileImage != null)
                        {
                            <img src="data:image;base64,@Convert.ToBase64String(Model.ProfileImage)" alt="Profile Picture" class="profile-picture" />
                        }
                    </div>

                    <div class="form-group">
                        <label><strong>@Html.DisplayNameFor(model => model.FirstName)</strong></label>
                        <p>@Model.FirstName</p>
                    </div>

                    <div class="form-group">
                        <label><strong>@Html.DisplayNameFor(model => model.SecondName)</strong></label>
                        <p>@Model.SecondName</p>
                    </div>

                    <div class="form-group">
                        <label><strong>@Html.DisplayNameFor(model => model.Password)</strong></label>
                        <p>*****</p> <!-- Displaying password as asterisks for security -->
                    </div>

                    <div class="form-group">
                        <label><strong>@Html.DisplayNameFor(model => model.CompanyName)</strong></label>
                        <p>@Model.CompanyName</p>
                    </div>

                    <div class="form-group">
                        <label><strong>@Html.DisplayNameFor(model => model.Email)</strong></label>
                        <p>@Model.Email</p>
                    </div>

                    <div class="form-group">
                        <label><strong>@Html.DisplayNameFor(model => model.DateOfBirth)</strong></label>
                        <p>@Model.DateOfBirth?.ToString("dd/MM/yyyy")</p>
                    </div>

                    <div class="form-group">
                        <label><strong>@Html.DisplayNameFor(model => model.Position)</strong></label>
                        <p>@Model.Position</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="section">

                    <div class="form-group">
                        <label><strong>@Html.DisplayNameFor(model => model.BusinessArea)</strong></label>
                        <p>@Model.BusinessArea</p>
                    </div>

                    <div class="form-group">
                        <label><strong>@Html.DisplayNameFor(model => model.SubscriptionType)</strong></label>
                        <p>@(Model.SubscriptionType != null ? Model.SubscriptionType : "None")</p>
                    </div>

                    <div class="form-group">
                        <label><strong>@Html.DisplayNameFor(model => model.NewsLetter)</strong></label>
                        <p>@(Model.NewsLetter ? "Yes" : "No")</p>
                    </div>

                    <div class="form-group">
                        <label><strong>@Html.DisplayNameFor(model => model.HouseNumber)</strong></label>
                        <p>@Model.HouseNumber</p>
                    </div>

                    <div class="form-group">
                        <label><strong>@Html.DisplayNameFor(model => model.StreetAddress)</strong></label>
                        <p>@Model.StreetAddress</p>
                    </div>

                    <div class="form-group">
                        <label><strong>@Html.DisplayNameFor(model => model.City)</strong></label>
                        <p>@Model.City</p>
                    </div>

                    <div class="form-group">
                        <label><strong>@Html.DisplayNameFor(model => model.State)</strong></label>
                        <p>@Model.State</p>
                    </div>

                    <div class="form-group">
                        <label><strong>@Html.DisplayNameFor(model => model.PostalCode)</strong></label>
                        <p>@Model.PostalCode</p>
                    </div>

                    <div class="form-group">
                        <label><strong>@Html.DisplayNameFor(model => model.Country)</strong></label>
                        <p>@Model.Country</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="buttonSaveChanges">
            <button class="cta-button" onclick="location.href='@Url.Action("Edit", "Profile")'">Edit Profile</button>
        </div>
    </div>
</div>