@page "/orders"
@using BlazorBootstrap
@using EnterpriseMaster.DbServices.Models.Database;
@using EnterpriseMaster.DesktopApp.Data.Services.OrdersServices;
@inherits MainLayout
@inject OrderService orderService

<Tabs EnableFadeEffect="true">
    <Tab IsActive="true">
        <TitleTemplate>
            <Icon Name="IconName.BorderAll" /> Purchase Orders
        </TitleTemplate>
        <Content>
            <br />
            <Grid TItem="PurchaseOrders"
                  @ref="gridPurchaseOrders"
                  AllowFiltering="true"
                  AllowPaging="true"
                  AllowSorting="true"
                  AllowRowClick="true"
                  DataProvider="PurchaseOrdersDataProvider"
                  Class="table table-hover table-bordered table-striped"
                  FiltersRowCssClass="bg-dark text-white bg-opacity-25 border-bottom-0"
                  HeaderRowCssClass="bg-dark text-white border-bottom-0"
                  PageSize="5"
                  PageSizeSelectorVisible="true"
                  PageSizeSelectorItems="@(new int[] { 5,10,20 })"
                  PaginationItemsTextFormat="{0} - {1} of {2} pages"
                  ItemsPerPageText="Items per page"
                  Responsive="true">
                <GridColumn TItem="PurchaseOrders" HeaderText="Product Name" PropertyName="Product.ProductName">
                    @context.Product.ProductName
                </GridColumn>
                <GridColumn TItem="PurchaseOrders" HeaderText="Product Code" PropertyName="Product.ProductCode">
                    @context.Product.ProductCode
                </GridColumn>
                <GridColumn TItem="PurchaseOrders" HeaderText="Price Paid($)" PropertyName="PricePaid">
                    @context.PricePaid
                </GridColumn>
                <GridColumn TItem="PurchaseOrders" HeaderText="Order Number" PropertyName="PurchaseOrderNumber">
                    @context.PurchaseOrderNumber
                </GridColumn>
                <GridColumn TItem="PurchaseOrders" HeaderText="Payment Term" PropertyName="PaymentTerm">
                    @context.PaymentTerm
                </GridColumn>
                <GridColumn TItem="PurchaseOrders" HeaderText="Quantity" PropertyName="Quantity">
                    @context.Quantity
                </GridColumn>
                <GridColumn TItem="PurchaseOrders" HeaderText="Quantity Type" PropertyName="QuantityType">
                    @context.QuantityType
                </GridColumn>
                <GridColumn TItem="PurchaseOrders" HeaderText="Delivery Date" PropertyName="DeliveryDate">
                    @context.DeliveryDate
                </GridColumn>
            </Grid>
        </Content>
    </Tab>
    <Tab>
        <TitleTemplate>
            <Icon Name="IconName.Kanban" /> Order Management
        </TitleTemplate>
        <Content>
            <p class="mt-2">
                <b>This is some placeholder content the Contact tab's associated content.</b> Clicking another tab will toggle the visibility of this one for the next.
            </p>
        </Content>
    </Tab> 
    <Tab>
        <TitleTemplate>
            <Icon Name="IconName.Flag" /> Order Reports
        </TitleTemplate>
        <Content>
            <p class="mt-2">
                <b>This is some placeholder content the Contact tab's associated content.</b> Clicking another tab will toggle the visibility of this one for the next.
            </p>
        </Content>
    </Tab>
</Tabs>

@code {

    protected async override void OnInitialized()
    {
        purchaseOrders = await orderService.GetAllPurchaseOrdersAsync();

        await gridPurchaseOrders.RefreshDataAsync();
    }

    #region PurchaseOrders

    private List<PurchaseOrders> purchaseOrders = new List<PurchaseOrders>();
    private Grid<PurchaseOrders> gridPurchaseOrders;
    private async Task<GridDataProviderResult<PurchaseOrders>> PurchaseOrdersDataProvider(GridDataProviderRequest<PurchaseOrders> request)
    {
        if (purchaseOrders is null) // pull employees only one time for client-side filtering, sorting, and paging
            purchaseOrders = await orderService.GetAllPurchaseOrdersAsync(); // call a service or an API to pull the employees

        return await Task.FromResult(request.ApplyTo(purchaseOrders));
    }

    #endregion

    #region Order Management
    #endregion

    #region Order Reports
    #endregion
}
