@model EnterpriseMaster.DbServices.Models.Database.EnterprisePlan
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";
}
<link href="~/css/subscriptions.css" rel="stylesheet" type="text/css">
<br />
<br />
@{
    var notes = Model.Notes.Split(':');
}
<div class="basic-subscription-details">
    <h1>@notes[0]</h1>
    <p>@notes[1]</p>
</div>
<div class="basic-subscription-container">
    <div class="basic-subscription-container">
        <div class="basic-feature">
            @if (Model.EnterprisePlanImage != null)
            {
                <img class="basic-subscription-img" src="data:image;base64,@Convert.ToBase64String(Model.EnterprisePlanImage)" alt="Basic Financial Management">
            }
            <div class="basic-feature-text">
                <h2>@Model.EnterprisePlanTitle</h2>
                <p>@Model.EnterprisePlanText</p>
            </div>
        </div>

        <div class="basic-feature enterprise-feature">
            <div class="basic-feature-text">
                <h2>@Model.ProductionManagementTitle</h2>
                <p>@Model.ProductionManagementText</p>
            </div>
            @if (Model.ProductionManagement != null)
            {
                <img class="basic-subscription-img" src="data:image;base64,@Convert.ToBase64String(Model.ProductionManagement)" alt="Basic Financial Management">
            }
        </div>

        <!-- Spacing -->
        <div style="height: 20px;"></div>

        <div class="basic-feature enterprise-feature">
            @if (Model.HumanResources != null)
            {
                <img class="basic-subscription-img" src="data:image;base64,@Convert.ToBase64String(Model.HumanResources)" alt="Basic Financial Management">
            }
            <div class="basic-feature-text">
                <h2>@Model.HumanResourcesTitle</h2>
                <p>@Model.HumanResourcesText</p>
            </div>
        </div>

        <!-- Spacing -->
        <div style="height: 20px;"></div>

        <div class="basic-feature enterprise-feature">
            <div class="basic-feature-text">
                <h2>@Model.AnalyticsReportingTitle</h2>
                <p>@Model.AnalyticsReportingText</p>
            </div>
            @if (Model.AnalyticsReporting != null)
            {
                <img class="basic-subscription-img" src="data:image;base64,@Convert.ToBase64String(Model.AnalyticsReporting)" alt="Basic Financial Management">
            }
        </div>

    </div>
</div>
<div class="subscription-container-pay">
    <div class="buy-now-container">
        <button class="button-71" onclick="location.href='@Url.Action("Index", "Checkout", new { type = "enterprise" })'">Buy Now</button>
        <p class="buy-now-description">@Model.GetStarted</p>
    </div>
</div>