@page "/production"
@using BlazorBootstrap
@using EnterpriseMaster.DbServices.Models.Database;
@using EnterpriseMaster.DesktopApp.Data.Models;
@using EnterpriseMaster.DesktopApp.Data.Services.Inventory;
@using EnterpriseMaster.DesktopApp.Data.Services.OrdersServices;
@using EnterpriseMaster.DesktopApp.Data.Services.ProductionServices;
@using EnterpriseMaster.DesktopApp.Helpers.Enums;
@using EnterpriseMaster.DesktopApp.Helpers.Methods;
@inherits MainLayout
@inject ProductionService productionService
@inject InventoryService inventoryService
@inject OrderService orderService

<Tabs EnableFadeEffect="true">
    <Tab>
        <TitleTemplate>
            <Icon Name="IconName.Send" /> Manufacturing Planning
        </TitleTemplate>
        <Content>
            <br />
            <Grid TItem="ProductionOrdersViewModel"
                  @ref="gridOrderViewModel"
                  AllowFiltering="true"
                  AllowPaging="true"
                  AllowSorting="true"
                  AllowRowClick="true"
                  DataProvider="OrderViewModelDataProvider"
                  Class="table table-hover table-bordered table-striped"
                  FiltersRowCssClass="bg-dark text-white bg-opacity-25 border-bottom-0"
                  HeaderRowCssClass="bg-dark text-white border-bottom-0"
                  PageSize="5"
                  PageSizeSelectorVisible="true"
                  PageSizeSelectorItems="@(new int[] { 5,10,20 })"
                  PaginationItemsTextFormat="{0} - {1} of {2} pages"
                  ItemsPerPageText="Items per page"
                  OnRowClick="OnShowModalClick"
                  Responsive="true">
                <GridColumn TItem="ProductionOrdersViewModel" HeaderText="Product Name" PropertyName="ProductName" SortKeySelector="item => item.ProductName">
                    @context.ProductName
                </GridColumn>
                <GridColumn TItem="ProductionOrdersViewModel" HeaderText="Product Code" PropertyName="ProductCode" SortKeySelector="item => item.ProductCode">
                    @context.ProductCode
                </GridColumn>
                <GridColumn TItem="ProductionOrdersViewModel" HeaderText="Quantity" PropertyName="Quantity" SortKeySelector="item => item.Quantity">
                    @context.Quantity
                </GridColumn>
                <GridColumn TItem="ProductionOrdersViewModel" HeaderText="Order Date" PropertyName="OrderDate" SortKeySelector="item => item.OrderDate">
                    @context.OrderDate
                </GridColumn>
                <GridColumn TItem="ProductionOrdersViewModel" HeaderText="Due Date" PropertyName="DueDate" SortKeySelector="item => item.DueDate">
                    @context.DueDate
                </GridColumn>
                <GridColumn TItem="ProductionOrdersViewModel" HeaderText="Order Status" PropertyName="ProductionOrderStatus" SortKeySelector="item => item.ProductionOrderStatus">
                    <div style="display: flex; justify-content: center; align-items: center;">
                        <span class="@OrderStatusClasses.GetClassForOrderStatus(context.ProductionOrderStatus)" style="width: 150px; text-align: center;">@context.ProductionOrderStatus</span>
                    </div>
                </GridColumn>
            </Grid>
        </Content>
    </Tab>
    <Tab>
        <TitleTemplate>
            <Icon Name="IconName.SignRailRoad" /> Production Tracking
        </TitleTemplate>
        <Content>
            <br />
            <div class="container">
                <div class="half-height">
                    <BarChart @ref="barChart" Class="mb-4" />
                </div>
                <div class="custom-height">
                    <br />
                    <Grid TItem="ProductionOrdersViewModel"
                          @ref="gridOrderInProgressViewModel"
                          AllowFiltering="true"
                          AllowPaging="true"
                          AllowSorting="true"
                          AllowRowClick="true"
                          DataProvider="OrderInProgressViewModelDataProvider"
                          Class="table table-hover table-bordered table-striped"
                          FiltersRowCssClass="bg-dark text-white bg-opacity-25 border-bottom-0"
                          HeaderRowCssClass="bg-dark text-white border-bottom-0"
                          PageSize="5"
                          PageSizeSelectorVisible="true"
                          PageSizeSelectorItems="@(new int[] { 5,10,20 })"
                          PaginationItemsTextFormat="{0} - {1} of {2} pages"
                          ItemsPerPageText="Items per page"
                          Responsive="true">
                        <GridColumn TItem="ProductionOrdersViewModel" HeaderText="Product Name" PropertyName="ProductName" SortKeySelector="item => item.ProductName">
                            @context.ProductName
                        </GridColumn>
                        <GridColumn TItem="ProductionOrdersViewModel" HeaderText="Product Code" PropertyName="ProductCode" SortKeySelector="item => item.ProductCode">
                            @context.ProductCode
                        </GridColumn>
                        <GridColumn TItem="ProductionOrdersViewModel" HeaderText="Quantity" PropertyName="Quantity" SortKeySelector="item => item.Quantity">
                            @context.Quantity
                        </GridColumn>
                        <GridColumn TItem="ProductionOrdersViewModel" HeaderText="Order Date" PropertyName="OrderDate" SortKeySelector="item => item.OrderDate">
                            @context.OrderDate
                        </GridColumn>
                        <GridColumn TItem="ProductionOrdersViewModel" HeaderText="Due Date" PropertyName="DueDate" SortKeySelector="item => item.DueDate">
                            @context.DueDate
                        </GridColumn>
                        <GridColumn TItem="ProductionOrdersViewModel" HeaderText="Order Status" PropertyName="ProductionOrderStatus" SortKeySelector="item => item.ProductionOrderStatus">
                            <div style="display: flex; justify-content: center; align-items: center;">
                                <span class="@OrderStatusClasses.GetClassForOrderStatus(context.ProductionOrderStatus)" style="width: 150px; text-align: center;">@context.ProductionOrderStatus</span>
                            </div>
                        </GridColumn>
                    </Grid>
                </div>
            </div>
        </Content>
    </Tab>
</Tabs>
<Modal @ref="modal" Title="Production Order" IsVerticallyCentered="true">
    <BodyTemplate>
        <div class="form-container">
            <form>
                <div class="form-group">
                    <label for="productName">Product Name:</label>
                    <input type="text" id="productName" name="productName" value="@productionOrdersModal.Product.ProductName" disabled />
                </div>

                <div class="form-group">
                    <label for="productCode">Product Code:</label>
                    <input type="text" id="productCode" name="productCode" value="@productionOrdersModal.Product.ProductCode" disabled />
                </div>

                <div class="form-group">
                    <label for="quantity">Quantity:</label>
                    <input type="text" id="quantity" name="quantity" value="@productionOrdersModal.Quantity" disabled />
                </div>

                <div class="form-group">
                    <label for="orderDate">Order Date:</label>
                    <input type="text" id="orderDate" name="orderDate" value="@productionOrdersModal.OrderDate" disabled />
                </div>

                <div class="form-group">
                    <label for="dueDate">Due Date:</label>
                    <input type="text" id="dueDate" name="dueDate" value="@productionOrdersModal.DueDate" disabled />
                </div>

                <div class="form-group">
                    <label for="productionOrderStatus">Production Order Status:</label>
                    <input type="text" id="productionOrderStatus" name="productionOrderStatus" value="@productionOrdersModal.ProductionOrderStatus.Status" disabled />
                </div>
            </form>
        </div>
    </BodyTemplate>
    <FooterTemplate>
        <Button Color="ButtonColor.Success" @onclick="SetToComplete">Complete</Button>
        <Button Color="ButtonColor.Warning" @onclick="SetInProgress">Set In Progress</Button>
        <Button Color="ButtonColor.Warning" @onclick="Reject">Reject</Button>
        <Button Color="ButtonColor.Danger" @onclick="OnHideModalClick">Close</Button>
    </FooterTemplate>
</Modal>

<Preload />
<Toasts class="p-3" Messages="messages" AutoHide="true" Delay="6000" Placement="ToastsPlacement.TopRight" />
@code {
    protected async override void OnInitialized()
    {
        try
        {
            productionOrders = await productionService.GetAllProductionOrdersForGridAsync();
            gridListProductionOrdersViewModel = (await productionService.GetAllProductionOrdersForGridAsync()).Where(item => item.ProductionOrderStatus == "In Progress").ToList();
            await gridOrderViewModel.RefreshDataAsync();
            await gridOrderInProgressViewModel.RefreshDataAsync();
            StateHasChanged();
        }
        catch (Exception e)
        {
            ShowMessage(ToastType.Warning, "Warning!", e.Message);
            preloadService.Hide();
        }
    }

    #region Manufacture Planing

    private List<ProductionOrdersViewModel> productionOrders = new List<ProductionOrdersViewModel>();
    private Grid<ProductionOrdersViewModel> gridOrderViewModel = new Grid<ProductionOrdersViewModel>();
    private ProductionOrders productionOrdersModal = new ProductionOrders();
    private Modal modal;

    private async Task<GridDataProviderResult<ProductionOrdersViewModel>> OrderViewModelDataProvider(GridDataProviderRequest<ProductionOrdersViewModel> request)
    {
        if (productionOrders is null)
            productionOrders = await productionService.GetAllProductionOrdersForGridAsync();

        return await Task.FromResult(request.ApplyTo(productionOrders));
    }

    private async Task OnShowModalClick(GridRowEventArgs<ProductionOrdersViewModel> args)
    {
        productionOrdersModal = await productionService.GetProductionOrderAsync((int)args.Item.Id);
        productionOrdersModal.Product = await inventoryService.GetProductAsync(productionOrdersModal.ProductId.Value);
        productionOrdersModal.ProductionOrderStatus = await productionService.GetProductionOrderStatuAsync(productionOrdersModal.ProductionOrderStatusId.Value);
        await modal?.ShowAsync();
    }

    private async Task OnHideModalClick()
    {
        await modal?.HideAsync();
    }

    private async Task SetToComplete()
    {
        try
        {
            preloadService.Show(SpinnerColor.Dark);
            productionOrdersModal.ProductionOrderStatusId = (int)StatusForProductionOrder.Completed;
            productionOrdersModal.ModificationDate = DateTime.Now;
            if(!await productionService.UpdateProductionOrderAsync(productionOrdersModal))
            {
                ShowMessage(ToastType.Warning, "Warning!", "Something went wrong while updating an order");
                preloadService.Hide();
                return;
            }
            var salesOrder = (await orderService.GetAllSalesOrdersAsync()).FirstOrDefault(item => item.ProductionOrderId == productionOrdersModal.Id);
            salesOrder.OrderStatuseId = (int)StatusForOrder.Completed;
            if (!await orderService.UpdateSalesOrderAsync(salesOrder))
            {
                ShowMessage(ToastType.Warning, "Warning!", "Something went wrong while updating a sales order");
                preloadService.Hide();
                return;
            }
            productionOrders = await productionService.GetAllProductionOrdersForGridAsync();
            await gridOrderViewModel.RefreshDataAsync();
            ShowMessage(ToastType.Success, "Success!", "Production order updated successfully");
            await modal?.HideAsync();
            preloadService.Hide();
            StateHasChanged();
        }
        catch (Exception e)
        {
            ShowMessage(ToastType.Warning, "Warning!", e.Message);
            preloadService.Hide();
        }
    }

    private async Task SetInProgress()
    {
        try
        {
            preloadService.Show(SpinnerColor.Dark);
            productionOrdersModal.ProductionOrderStatusId = (int)StatusForProductionOrder.InProgress;
            productionOrdersModal.ModificationDate = DateTime.Now;
            if (!await productionService.UpdateProductionOrderAsync(productionOrdersModal))
            {
                ShowMessage(ToastType.Warning, "Warning!", "Something went wrong while updating an order");
                preloadService.Hide();
                return;
            }
            productionOrders = await productionService.GetAllProductionOrdersForGridAsync();
            gridListProductionOrdersViewModel = (await productionService.GetAllProductionOrdersForGridAsync()).Where(item => item.ProductionOrderStatus == "In Progress").ToList();
            await gridOrderViewModel.RefreshDataAsync();
            await gridOrderInProgressViewModel.RefreshDataAsync();
            ShowMessage(ToastType.Success, "Success!", "Production order updated successfully");
            await modal?.HideAsync();
            preloadService.Hide();
            StateHasChanged();
        }
        catch (Exception e)
        {
            ShowMessage(ToastType.Warning, "Warning!", e.Message);
            preloadService.Hide();
        }
    }

    private async Task Reject()
    {
        try
        {
            preloadService.Show(SpinnerColor.Dark);
            productionOrdersModal.ProductionOrderStatusId = (int)StatusForProductionOrder.Rejected;
            productionOrdersModal.ModificationDate = DateTime.Now;
            if (!await productionService.UpdateProductionOrderAsync(productionOrdersModal))
            {
                ShowMessage(ToastType.Warning, "Warning!", "Something went wrong while updating an order");
                preloadService.Hide();
                return;
            }
            var salesOrder = (await orderService.GetAllSalesOrdersAsync()).FirstOrDefault(item => item.ProductionOrderId == productionOrdersModal.Id);
            salesOrder.OrderStatuseId = (int)StatusForOrder.Rejected;
            if (!await orderService.UpdateSalesOrderAsync(salesOrder))
            {
                ShowMessage(ToastType.Warning, "Warning!", "Something went wrong while updating a sales order");
                preloadService.Hide();
                return;
            }
            productionOrders = await productionService.GetAllProductionOrdersForGridAsync();
            await gridOrderViewModel.RefreshDataAsync();
            ShowMessage(ToastType.Success, "Success!", "Production order updated successfully");
            await modal?.HideAsync();
            preloadService.Hide();
            StateHasChanged();
        }
        catch (Exception e)
        {
            ShowMessage(ToastType.Warning, "Warning!", e.Message);
            preloadService.Hide();
        }
    }
    #endregion

    #region Production tracking

    private BarChart barChart;
    private Grid<ProductionOrdersViewModel> gridOrderInProgressViewModel = new Grid<ProductionOrdersViewModel>();
    private List<ProductionOrdersViewModel> gridListProductionOrdersViewModel = new List<ProductionOrdersViewModel>();
    private List<ProductionOrders> ordersInThisMonth = new List<ProductionOrders>();

    private async Task<GridDataProviderResult<ProductionOrdersViewModel>> OrderInProgressViewModelDataProvider(GridDataProviderRequest<ProductionOrdersViewModel> request)
    {
        if (gridListProductionOrdersViewModel is null)
            gridListProductionOrdersViewModel = (await productionService.GetAllProductionOrdersForGridAsync()).Where(item => item.ProductionOrderStatus == "In Progress").ToList();

        return await Task.FromResult(request.ApplyTo(gridListProductionOrdersViewModel));
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await RenderManhattanAsync();
        }

        await base.OnAfterRenderAsync(firstRender);
    }

    private async Task RenderManhattanAsync()
    {
        // Get the current month and year
        DateTime currentDate = DateTime.Now;
        int currentMonth = currentDate.Month;
        int currentYear = currentDate.Year;

        // Calculate the number of days in the current month
        int daysInCurrentMonth = DateTime.DaysInMonth(currentYear, currentMonth);
        var listOfDays = new List<string>();
        for(int i = 1; i <= daysInCurrentMonth; i++)
        {
            listOfDays.Add(i.ToString());
        }

        ordersInThisMonth = (await productionService.GetAllProductionOrdersAsync()).Where(
            item => item.ModificationDate.Year == DateTime.Now.Year &&
            item.ModificationDate.Month == DateTime.Now.Month).ToList();

        // Initialize a list to store daily order counts
        var completedOrderQuantities = new List<double>();

        // Populate completed order quantities based on each day of the month
        for (int i = 1; i <= daysInCurrentMonth; i++)
        {
            // Sum the quantities of completed orders with order status "Complete" for each day
            double quantityCompletedForDay = ordersInThisMonth
                .Where(item => item.ModificationDate.Day == i && item.ProductionOrderStatusId == (int)StatusForProductionOrder.Completed)
                .Sum(item => item.Quantity);

            completedOrderQuantities.Add(quantityCompletedForDay);
        }

        var data = new ChartData
        {
            Labels = listOfDays,
            Datasets = new List<IChartDataset>()
            {
                new BarChartDataset()
                {
                    Label = DateTime.Now.ToString("MMMM"),
                    Data = completedOrderQuantities,
                    BackgroundColor = new List<string>{ "rgb(88, 80, 141)" },
                    CategoryPercentage = 0.8,
                    BarPercentage = 1,
                }
            }
        };

        var options = new BarChartOptions();

        options.Interaction.Mode = InteractionMode.Index;

        options.Plugins.Title.Text = "Items produced dailey";
        options.Plugins.Title.Display = true;
        options.Plugins.Title.Font.Size = 20;

        options.Responsive = true;

        options.Scales.X.Title.Text = "Days In Current Month";
        options.Scales.X.Title.Display = true;

        options.Scales.Y.Title.Text = "Items Done";
        options.Scales.Y.Title.Display = true;

        await barChart.InitializeAsync(data, options);
    }

    #endregion

}
