@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enterprise Master</title>
    <link rel="stylesheet" href="style.css">
    <link href="~/css/site.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link href="https://fonts.googleapis.com/css?family=Arvo&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
</head>
<body class="mainbody">
    <div class="navbar" style="background-color: rgba(255, 255, 255, 0.8);">
        <label for="togglericon" class="toggler" checked></label>
        <input type="checkbox" id="togglericon" class="toggler" />

        <div class="brand">
            <img src="~/icon/EnterpriseMaster.png" style="width: 150px; height:150px;" title="core" alt="" />
        </div>
        <div class="nav">
           
            <a href="@Url.Action("Index", "Home")">Home</a>

            <div class="dropdown" >
                <label for="toggle-1" id="dropdown-label">Services</label>
                <input type="checkbox" id="toggle-1" />
                <ul id="dropdown-content" style="box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; border-radius: 5px;">
                    <li><a class="amain" href="@Url.Action("Index", "BasicSubscription")">Basic Plan</a></li>
                    <li><a class="amain" href="@Url.Action("Index", "ProfessionalSubscription")">Professional Plan</a></li>
                    <li><a class="amain" href="@Url.Action("Index", "EnterpriseSubscription")">Enterprise Plan</a></li>
                </ul>
            </div>
            <div class="dropdown">
                <label for="toggle-2" id="dropdown-label">Support</label>
                <input type="checkbox" id="toggle-2" />
                <ul id="dropdown-content" style="box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; border-radius: 5px;">
                    <li><a class="amain" href="@Url.Action("Index", "FAQ")">FAQs</a></li>
                    <li><a class="amain" href="@Url.Action("Index", "Terms")">Terms and Conditions</a></li>
                    <li><a class="amain" href="@Url.Action("Index", "HelpCenter")">Help Center</a></li>
                    <li><a class="amain" href="@Url.Action("Index", "Refund")">Returns And Refunds</a></li>
                    <li><a class="amain" href="@Url.Action("Index", "Privacy")">Privacy Policy</a></li>
                </ul>
            </div>
            <a href="@Url.Action("Index", "Contact")">Contact</a>
            <a href="@Url.Action("Index", "About")">About</a>
            @{
                var isLoggedIn = HttpContextAccessor.HttpContext.Session.GetString("email");
            }
            @if (string.IsNullOrEmpty(isLoggedIn))
            {
                <a href="@Url.Action("Index", "Login")">Login</a>
                <a href="@Url.Action("Index", "Register")">Register</a>
            }
        </div>
    </div>
    <div class="mainRenderBody">
        @if (!string.IsNullOrEmpty(ViewBag.Danger))
        {
            <label id="overlayAlert">
                <input type="checkbox" class="alertCheckbox" autocomplete="off" />
                <div class="alert error">
                    <span class="alertClose">X</span>
                    <span class="alertText">
                        @ViewBag.Danger
                        <br class="clear" />
                    </span>
                </div>
            </label>
        }
        @if (!string.IsNullOrEmpty(ViewBag.Success))
        {
            <label id="overlayAlert">
                <input type="checkbox" class="alertCheckbox" autocomplete="off" />
                <div class="alert success">
                    <span class="alertClose">X</span>
                    <span class="alertText">
                        @ViewBag.Success
                        <br class="clear" />
                    </span>
                </div>
            </label>
        }
        @if (!string.IsNullOrEmpty(ViewBag.Warning))
        {
            <label id="overlayAlert">
                <input type="checkbox" class="alertCheckbox" autocomplete="off" />
                <div class="alert warning">
                    <span class="alertClose">X</span>
                    <span class="alertText">
                        @ViewBag.Warning
                        <br class="clear" />
                    </span>
                </div>
            </label>
        }
        @RenderBody()
    </div>
    <footer class="border-top bg-dark text-light mainfooter">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p>&copy; 2023 Enterprise Master. All rights reserved.</p>
                </div>
                <br />
                <div class="col-md-6 text-md-end">
                    <a href="https://www.facebook.com/profile.php?id=100001518915936" class="social-icon"><i class="fab fa-facebook"></i></a>
                    <a href="https://www.facebook.com/profile.php?id=100001518915936" class="social-icon"><i class="fab fa-twitter"></i></a>
                    <a href="https://www.facebook.com/profile.php?id=100001518915936" class="social-icon"><i class="fab fa-linkedin"></i></a>
                    <a href="https://www.facebook.com/profile.php?id=100001518915936" class="social-icon"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        // Check if the alert exists in the DOM
        var overlayAlert = document.getElementById("overlayAlert");

        if (overlayAlert) {
            setTimeout(function () {
                overlayAlert.style.display = "none";
            }, 6000);
        }
    </script>
    @await RenderSectionAsync("Scripts", required: false)
   
</body>
</html>
