@page "/finance"
@using BlazorBootstrap
@using EnterpriseMaster.DbServices.Models.Database;
@using EnterpriseMaster.DesktopApp.Data.Models;
@using EnterpriseMaster.DesktopApp.Data.Services.FinanceServices;
@inherits MainLayout
@inject FinanceService financeService

<Tabs EnableFadeEffect="true">
    <Tab>
        <TitleTemplate>
            <Icon Name="IconName.CurrencyDollar" /> Payments
        </TitleTemplate>
        <Content>
            <br />
            <Grid TItem="PaymentViewModel"
                  @ref="gridPayments"
                  AllowFiltering="true"
                  AllowPaging="true"
                  AllowSorting="true"
                  AllowRowClick="true"
                  DataProvider="PaymentsDataProvider"
                  Class="table table-hover table-bordered table-striped"
                  FiltersRowCssClass="bg-dark text-white bg-opacity-25 border-bottom-0"
                  HeaderRowCssClass="bg-dark text-white border-bottom-0"
                  PageSize="5"
                  PageSizeSelectorVisible="true"
                  PageSizeSelectorItems="@(new int[] { 5,10,20 })"
                  PaginationItemsTextFormat="{0} - {1} of {2} pages"
                  ItemsPerPageText="Items per page"
                  Responsive="true">
                <GridColumn TItem="PaymentViewModel" HeaderText="Payment Method" PropertyName="PaymentMethod">
                    @context.PaymentMethod
                </GridColumn>
                <GridColumn TItem="PaymentViewModel" HeaderText="Product" PropertyName="Product">
                    @context.Product
                </GridColumn>
                <GridColumn TItem="PaymentViewModel" HeaderText="Order Code" PropertyName="SalesOrdersCode">
                    @context.SalesOrdersCode
                </GridColumn>
                <GridColumn TItem="PaymentViewModel" HeaderText="Invoices Code" PropertyName="InvoicesCode">
                    @context.InvoicesCode
                </GridColumn>
                <GridColumn TItem="PaymentViewModel" HeaderText="Quantity" PropertyName="Quantity">
                    @context.Quantity
                </GridColumn>
                <GridColumn TItem="PaymentViewModel" HeaderText="Price Paid" PropertyName="TotalAmount">
                    @context.TotalAmount
                </GridColumn>
            </Grid>
        </Content>
    </Tab>
    <Tab>
        <TitleTemplate>
            <Icon Name="IconName.Kanban" /> Payment Approvals
        </TitleTemplate>
        <Content>
            <br />
            <div class="container">
                <div class="left-panel">1</div>
                <div class="right-panel">
                    <div class="top-right">2</div>
                    <div class="bottom-right">3</div>
                </div>
            </div>
        </Content>
    </Tab>
    <Tab>
        <TitleTemplate>
            <Icon Name="IconName.Kanban" /> Expense Management
        </TitleTemplate>
        <Content>
            <br />
            <div class="container">
                <div class="left-panel">1</div>
                <div class="right-panel">
                    <div class="top-right">2</div>
                    <div class="bottom-right">3</div>
                </div>
            </div>
        </Content>
    </Tab> 
    <Tab>
        <TitleTemplate>
            <Icon Name="IconName.Flag" /> Financial Report
        </TitleTemplate>
        <Content>
            <br />
            <div class="container">
                <div class="left-panel">1</div>
                <div class="right-panel">
                    <div class="top-right">2</div>
                    <div class="bottom-right">3</div>
                </div>
            </div>
        </Content>
    </Tab>
</Tabs>

@code {
    protected async override void OnInitialized()
    {
        payments = await financeService.GetAllPaymentsForGridAsync();

        await gridPayments.RefreshDataAsync();
    }

    #region Payments

    private List<PaymentViewModel> payments = new List<PaymentViewModel>();
    private Grid<PaymentViewModel> gridPayments;
    private async Task<GridDataProviderResult<PaymentViewModel>> PaymentsDataProvider(GridDataProviderRequest<PaymentViewModel> request)
    {
        if (payments is null) 
            payments = await financeService.GetAllPaymentsForGridAsync();

        return await Task.FromResult(request.ApplyTo(payments));
    }

    #endregion
}
