@page "/"
@using BlazorBootstrap
@using EnterpriseMaster.DbServices.Models.Database;

<div class="dashboardGrid">
    <div class="dashboardBox1">
        <div class="dashbordContent">
            <div class="task-list">
                <div class="dashboardTitle">
                    <h3>Tasks List For Today</h3>
                </div>
                <hr class="dashboardHr" style="color:black;"/>
               <Grid TItem="Tasks"
                      AllowFiltering="true"
                      AllowPaging="true"
                      AllowSorting="true"
                      Class="table table-hover table-bordered table-striped"
                      DataProvider="TasksDataProvider"
                      FiltersRowCssClass="bg-dark text-white bg-opacity-25 border-bottom-0"
                      HeaderRowCssClass="bg-dark text-white border-bottom-0"
                      PageSize="5"
                      PageSizeSelectorVisible="true"
                      PageSizeSelectorItems="@(new int[] { 5,10,20 })"
                      PaginationItemsTextFormat="{0} - {1} of {2} pages"
                      ItemsPerPageText="Items per page"
                      Responsive="true">
                    <GridColumn TItem="Tasks" HeaderText="Id" PropertyName="Id" SortKeySelector="item => item.Id" FilterTextboxWidth="80">
                        @context.Id
                    </GridColumn>
                    <GridColumn TItem="Tasks" HeaderText="Description" PropertyName="Description" SortKeySelector="item => item.Description" SortString="Description">
                        @context.Description
                    </GridColumn>
                    <GridColumn TItem="Tasks" HeaderText="CreationDate" PropertyName="CreationDate" SortKeySelector="item => item.CreationDate" FilterTextboxWidth="40">
                        @context.CreationDate
                    </GridColumn>
                    <GridColumn TItem="Tasks" HeaderText="Actions" Filterable="false" TextAlignment="Alignment.Center" >
                        <Button Color="ButtonColor.Success" Outline="true" Size="Size.Small" style="margin:2px;">Complete</Button>
                        <Button Color="ButtonColor.Danger" Outline="true" Size="Size.Small" style="margin:2px;">Remove</Button>
                    </GridColumn>
                </Grid>
            </div>
        </div>
    </div>
    <div class="dashboardBox2">
        <div class="dashbordContent">
            <div class="dashboardTitle">
                <h3>Completed Tasks</h3>
            </div>
            <hr class="dashboardHr" style="color:black;" />
           
        </div>
    </div>
    <div class="dashboardBox3">
        <div class="dashbordContent">
            <div class="dashboardTitle">
                <h3>Reminder</h3>
            </div>
            <hr class="dashboardHr" style="color:black;" />
            3
        </div>
    </div>
    <div class="dashboardBox4">
        <div class="dashbordContent">
            <div class="dashboardTitle">
                <h3>What's new</h3>
            </div>
            <hr class="dashboardHr" style="color:black;" />
            4
        </div>
    </div>
</div>

<Modal @ref="modal" Title="@title">
    <BodyTemplate>
        Modal body text goes here.
    </BodyTemplate>
    <FooterTemplate>
        <Button Color="ButtonColor.Primary">Complete</Button>
        <Button Color="ButtonColor.Primary">Close</Button>
        <Button Color="ButtonColor.Secondary" @onclick="OnHideModalClick">Remove</Button>
    </FooterTemplate>
</Modal>

@code {
    private IEnumerable<Tasks> tasks;

    protected override void OnInitialized()
    {
        tasks = new List<Tasks>
        {
            new Tasks { Id = 107,   Description = "AI Engineer", CreationDate = DateTime.Now, IsActive = true },
            new Tasks { Id = 103,   Description = "Senior DevOps Engineer", CreationDate = DateTime.Now, IsActive = true },
            new Tasks { Id = 106, Description = "Data Engineer", CreationDate = DateTime.Now, IsActive = true },
            new Tasks { Id = 104,   Description = "Associate Architect", CreationDate = DateTime.Now, IsActive = false },
            new Tasks { Id = 105,   Description = "Senior Data Engineer", CreationDate = DateTime.Now, IsActive = true },
            new Tasks { Id = 102,   Description = "Architect", CreationDate = DateTime.Now, IsActive = true },
            new Tasks { Id = 101,  Description = "Architect", CreationDate = DateTime.Now, IsActive = true },
            new Tasks { Id = 108, Description = "Data Analyst", CreationDate = DateTime.Now, IsActive = true },
            new Tasks { Id = 109,  Description = "App Maker", CreationDate = DateTime.Now, IsActive = true },
        };
    }

    private async Task<GridDataProviderResult<Tasks>> TasksDataProvider(GridDataProviderRequest<Tasks> request)
    {
        return await Task.FromResult(request.ApplyTo(tasks));
    }

    //Modal window
    private Modal modal;
    private string title = "Test Case";

    private async Task OnShowModalClick()
    {
        await modal?.ShowAsync();
    }

    private async Task OnHideModalClick()
    {
        await modal?.HideAsync();
    }
}
