@page "/"
@using BlazorBootstrap
@using EnterpriseMaster.DbServices.Models.Database;
@using EnterpriseMaster.DesktopApp.Data.Models;
@using EnterpriseMaster.DesktopApp.Data.Services.DashboardServices;
@inject TaskServices taskServices
@inject WhatsNewInfoService whatsNewServices
@inject WhatsNewInfoService newsServices
@inherits MainLayout

<div class="dashboardGrid">
    <div class="dashboardBox1">
        <div class="dashbordContent">
            <div class="task-list">
                <div class="dashboardTitle">
                    <h3>Tasks List For Today</h3>
                    <div class="spacer"></div>
                    <div class="buttonsDiv">
                        <Button Color="ButtonColor.Success" Outline="true" Size="Size.Small" style="margin:2px;" @onclick="OnShowModalAddTaskClick" title="Completed"><span><iconify-icon icon="mingcute:plus-fill"></iconify-icon></span></Button>
                    </div>
                </div>
                <hr class="dashboardHr" style="color:black;"/>
               <Grid TItem="Tasks"
                    @ref="gridTasks"
                    AllowFiltering="true"
                    AllowPaging="true"
                    AllowSorting="true"
                    AllowRowClick="true"
                    Class="table table-hover table-bordered table-striped"
                    DataProvider="TasksDataProvider"
                    FiltersRowCssClass="bg-dark text-white bg-opacity-25 border-bottom-0"
                    HeaderRowCssClass="bg-dark text-white border-bottom-0"
                    PageSize="5"
                    PageSizeSelectorVisible="true"
                    PageSizeSelectorItems="@(new int[] { 5,10,20 })"
                    PaginationItemsTextFormat="{0} - {1} of {2} pages"
                    ItemsPerPageText="Items per page"
                    Responsive="true"
                    OnRowClick="OnShowModalClick"
                    >
                    <GridColumn TItem="Tasks" HeaderText="Task" PropertyName="Task" SortKeySelector="item => item.Task" FilterTextboxWidth="80">
                        @context.Task
                    </GridColumn>
                    <GridColumn TItem="Tasks" HeaderText="Description" PropertyName="Description" SortKeySelector="item => item.Description" SortString="Description">
                        @context.Description
                    </GridColumn>
                    <GridColumn TItem="Tasks" HeaderText="CompleteBy" PropertyName="CompleteBy" SortKeySelector="item => item.CompleteBy" FilterTextboxWidth="40">
                        @context.CompleteBy.ToString("dd-MM-yyyy")
                    </GridColumn>
                </Grid>
            </div>
        </div>
    </div>
    <div class="dashboardBox2">
        <div class="dashbordContent">
            <div class="dashboardTitle">
                <h3>Completed Tasks</h3>
            </div>
            <hr class="dashboardHr" style="color:black;" />
            <Grid TItem="Tasks"
                  @ref="gridTasksCompleted"
                  AllowFiltering="true"
                  AllowPaging="true"
                  AllowSorting="true"
                  AllowRowClick="true"
                  Class="table table-hover table-bordered table-striped"
                  DataProvider="TasksCompletedDataProvider"
                  FiltersRowCssClass="bg-dark text-white bg-opacity-25 border-bottom-0"
                  HeaderRowCssClass="bg-dark text-white border-bottom-0"
                  PageSize="5"
                  PageSizeSelectorVisible="true"
                  PageSizeSelectorItems="@(new int[] { 5,10,20 })"
                  PaginationItemsTextFormat="{0} - {1} of {2} pages"
                  ItemsPerPageText="Items per page"
                  Responsive="true"
                  OnRowClick="OnShowCompletedModalClick">
                <GridColumn TItem="Tasks" HeaderText="Task" PropertyName="Task" SortKeySelector="item => item.Task" FilterTextboxWidth="80">
                    @context.Task
                </GridColumn>
                <GridColumn TItem="Tasks" HeaderText="Description" PropertyName="Description" SortKeySelector="item => item.Description" SortString="Description">
                    @context.Description
                </GridColumn>
                <GridColumn TItem="Tasks" HeaderText="DateCompleted" PropertyName="ModificationDate" SortKeySelector="item => item.ModificationDate" FilterTextboxWidth="40">
                    @context.ModificationDate.ToString("dd-MM-yyyy")
                </GridColumn>
            </Grid>
        </div>
    </div>
    <div class="dashboardBox3">
        <div class="dashbordContent">
            <div class="dashboardTitle">
                <h3>Tasks in Progress</h3>
            </div>
            <hr class="dashboardHr" style="color:black;" />
            <Grid TItem="Tasks"
                  @ref="gridTasksInProgress"
                  AllowFiltering="true"
                  AllowPaging="true"
                  AllowSorting="true"
                  AllowRowClick="true"
                  Class="table table-hover table-bordered table-striped"
                  DataProvider="TasksProgressDataProvider"
                  FiltersRowCssClass="bg-dark text-white bg-opacity-25 border-bottom-0"
                  HeaderRowCssClass="bg-dark text-white border-bottom-0"
                  PageSize="5"
                  PageSizeSelectorVisible="true"
                  PageSizeSelectorItems="@(new int[] { 5,10,20 })"
                  PaginationItemsTextFormat="{0} - {1} of {2} pages"
                  ItemsPerPageText="Items per page"
                  Responsive="true"
                  OnRowClick="OnShowProgressModalClick">
                <GridColumn TItem="Tasks" HeaderText="Task" PropertyName="Task" SortKeySelector="item => item.Task" FilterTextboxWidth="80">
                    @context.Task
                </GridColumn>
                <GridColumn TItem="Tasks" HeaderText="Description" PropertyName="Description" SortKeySelector="item => item.Description" SortString="Description">
                    @context.Description
                </GridColumn>
                <GridColumn TItem="Tasks" HeaderText="DateCompleted" PropertyName="ModificationDate" SortKeySelector="item => item.ModificationDate" FilterTextboxWidth="40">
                    @context.ModificationDate.ToString("dd-MM-yyyy")
                </GridColumn>
            </Grid>
        </div>
    </div>
    <div class="dashboardBox4">
        <div class="dashbordContent">
            <div class="dashboardTitle">
                <h3>What's new</h3>
                <div class="spacer"></div>
                <div class="buttonsDiv">
                    <Button Color="ButtonColor.Info" Outline="true" Size="Size.Small" style="margin:2px;" title="Completed" @onclick="RefreshNews"><span><iconify-icon icon="tdesign:refresh"></iconify-icon></span></Button>
                    <Button Color="ButtonColor.Success" Outline="true" Size="Size.Small" style="margin:2px;" title="Completed" @onclick="OnShowModalNewsAddClick"><span><iconify-icon icon="mingcute:plus-fill"></iconify-icon></span></Button>
                </div>
            </div>
            <hr class="dashboardHr" style="color:black;" />
            @foreach (var whatsNew in news)
            {
                <Card Color="CardColor.Dark" Class="mb-4" Style="width:100%;box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);">
                    <CardHeader class="dashboardTitle">
                        @whatsNew.Notes
                    </CardHeader>
                    <CardBody>
                        <CardTitle>@whatsNew.Title</CardTitle>
                        <CardText>@whatsNew.Description</CardText>
                    </CardBody>
                </Card>
            }
        </div>
    </div>
</div>
<Toasts class="p-3" Messages="messages" AutoHide="true" Delay="6000" Placement="ToastsPlacement.TopRight" />

<Modal @ref="modal" Title="@modalTask.Title" IsVerticallyCentered="true">
    <BodyTemplate>
        <div class="task-id">
            <span><strong>Task:</strong></span>
            <span>@modalTask.Task</span>
        </div>
        <div class="task-description">
            <span><strong>Description:</strong></span>
            <span>@modalTask.Description</span>
        </div>
        <div class="task-status">
            <span><strong>Status:</strong></span>
            <span>@modalTask.TaskStatus.Status</span>
        </div>
        <div class="task-complete-by">
            <span><strong>Complete By:</strong></span>
            <span>@modalTask.CompleteBy.ToString("yyyy-MM-dd")</span>
        </div>
        <div class="task-creation-date">
            <span><strong>Creation Date:</strong></span>
            <span>@modalTask.CreationDate.ToString("yyyy-MM-dd")</span>
        </div>
    </BodyTemplate>
    <FooterTemplate>
        <Button Color="ButtonColor.Success" @onclick="(e) => setCompleted(modalTask.Id)">Set As Complete</Button>
        <Button Color="ButtonColor.Success" @onclick="(e) => setInProgress(modalTask.Id)">In Progress</Button>
        <Button Color="ButtonColor.Danger" @onclick="(e) => removeTask(modalTask.Id)">Remove</Button>
        <Button Color="ButtonColor.Danger" @onclick="OnHideModalClick">Close</Button>
    </FooterTemplate>
</Modal>

<Modal @ref="modalProgressTask" Title="@modalTask.Title" IsVerticallyCentered="true">
    <BodyTemplate>
        <div class="task-id">
            <span><strong>Task:</strong></span>
            <span>@modalTask.Task</span>
        </div>
        <div class="task-description">
            <span><strong>Description:</strong></span>
            <span>@modalTask.Description</span>
        </div>
        <div class="task-status">
            <span><strong>Status:</strong></span>
            <span>@modalTask.TaskStatus.Status</span>
        </div>
        <div class="task-complete-by">
            <span><strong>Complete By:</strong></span>
            <span>@modalTask.CompleteBy.ToString("yyyy-MM-dd")</span>
        </div>
        <div class="task-creation-date">
            <span><strong>Creation Date:</strong></span>
            <span>@modalTask.CreationDate.ToString("yyyy-MM-dd")</span>
        </div>
    </BodyTemplate>
    <FooterTemplate>
        <Button Color="ButtonColor.Success" @onclick="(e) => setAsOpen(modalTask.Id)">Set As Open</Button>
        <Button Color="ButtonColor.Success" @onclick="(e) => setCompleted(modalTask.Id)">Complete</Button>
        <Button Color="ButtonColor.Danger" @onclick="(e) => removeTask(modalTask.Id)">Remove</Button>
        <Button Color="ButtonColor.Danger" @onclick="OnHideModalProgressClick">Close</Button>
    </FooterTemplate>
</Modal>

<Modal @ref="modalComplete" Title="@modalTask.Title" IsVerticallyCentered="true">
    <BodyTemplate>
        <div class="task-id">
            <span><strong>Task:</strong></span>
            <span>@modalTask.Task</span>
        </div>
        <div class="task-description">
            <span><strong>Description:</strong></span>
            <span>@modalTask.Description</span>
        </div>
        <div class="task-status">
            <span><strong>Status:</strong></span>
            <span>@modalTask.TaskStatus.Status</span>
        </div>
        <div class="task-complete-by">
            <span><strong>Complete By:</strong></span>
            <span>@modalTask.CompleteBy.ToString("yyyy-MM-dd")</span>
        </div>
        <div class="task-creation-date">
            <span><strong>Creation Date:</strong></span>
            <span>@modalTask.CreationDate.ToString("yyyy-MM-dd")</span>
        </div>
    </BodyTemplate>
    <FooterTemplate>
        <Button Color="ButtonColor.Success" @onclick="(e) => reverseCompleted(modalTask.Id)">Reverse Task</Button>
        <Button Color="ButtonColor.Danger" @onclick="(e) => removeTask(modalTask.Id)">Remove Task</Button>
        <Button Color="ButtonColor.Danger" @onclick="OnHideModalCompleteClick">Close</Button>
    </FooterTemplate>
</Modal>

<Modal @ref="modalAddTask" Title="@taskModel.Title" IsVerticallyCentered="true">
    <BodyTemplate>
        <div class="form-group">
            <label for="task">Task:</label>
            <input type="text" id="task" class="form-control" @bind="taskModel.Task" required>
        </div>

        <div class="form-group">
            <label for="description">Description:</label>
            <textarea id="description" class="form-control" @bind="taskModel.Description" required></textarea>
        </div>

        <div class="form-group">
            <label for="completeBy">Complete By:</label>
            <input type="date" id="completeBy" class="form-control" @bind="taskModel.CompleteBy" required>
        </div>

        <div class="form-group">
            <label for="employeeId">Employee:</label>
            @if (employeesList == null)
            {
                <p>Loading...</p>
            }
            else
            {
                <select class="styled-select" @onchange="OnEmployeeAccessSelected" required>
                    <option value="">Select an Employee</option>
                    @foreach (var access in employeesList)
                    {
                        <option value="@access.Id">@access.User.Email</option>
                    }
                </select>
            }
        </div>

        <div class="form-group">
            <label for="taskStatusId">Task Status:</label>
            @if (taskStatusList == null)
            {
                <p>Loading...</p>
            }
            else
            {
                <select class="styled-select" @onchange="OnTaskAccessSelected" required>
                    <option value="">Select a Task Status</option>
                    @foreach (var access in taskStatusList)
                    {
                        <option value="@access.Id">@access.Status</option>
                    }
                </select>
            }
        </div>
    </BodyTemplate>
    <FooterTemplate>
        <Button Color="ButtonColor.Success" @onclick="addTask">Add new task</Button>
        <Button Color="ButtonColor.Danger" @onclick="OnHideModalAddClick">Close</Button>
    </FooterTemplate>
</Modal>

<Modal @ref="newsModal" Title="@whatsNewModel.Title" IsVerticallyCentered="true">
    <BodyTemplate>
        <div class="task-id">
            <span><strong>Title:</strong></span>
            <span>@whatsNewModel.Title</span>
        </div>
        <div class="task-description">
            <span><strong>Description:</strong></span>
            <span>@whatsNewModel.Description</span>
        </div>
        <div class="task-status">
            <span><strong>Notes:</strong></span>
            <span>@whatsNewModel.Notes</span>
        </div>
        <div class="task-complete-by">
            <span><strong>Date:</strong></span>
            <span>@whatsNewModel.CreationDate.ToString("yyyy-MM-dd")</span>
        </div>
    </BodyTemplate>
    <FooterTemplate>
        <Button Color="ButtonColor.Danger" @onclick="OnHideModalNewsClick">Close</Button>
    </FooterTemplate>
</Modal>

<Modal @ref="modalAddNews" Title="@whatsNewModel.Title" IsVerticallyCentered="true">
    <BodyTemplate>
        <div class="form-group">
            <label for="task">Title:</label>
            <input type="text" id="task" class="form-control" @bind="whatsNewModel.Notes" required>
        </div>

        <div class="form-group">
            <label for="description">Description:</label>
            <textarea id="description" class="form-control" @bind="whatsNewModel.Description" required></textarea>
        </div>

        <div class="form-group">
            <label for="completeBy">Date released:</label>
            <input type="date" id="completeBy" class="form-control" @bind="whatsNewModel.CreationDate" required>
        </div>
    </BodyTemplate>
    <FooterTemplate>
        <Button Color="ButtonColor.Success" @onclick="AddNews">Add Info</Button>
        <Button Color="ButtonColor.Danger" @onclick="OnHideModalNewsAddClick">Close</Button>
    </FooterTemplate>
</Modal>

<Preload />
@code {
    private IEnumerable<Tasks> tasks;
    private IEnumerable<Tasks> tasksCompleted;
    private List<EnterpriseMaster.DbServices.Models.Database.TaskStatus> taskStatusList = new List<DbServices.Models.Database.TaskStatus>();
    private List<Employees> employeesList = new List<Employees>();
    private Grid<Tasks> gridTasks;
    private Grid<Tasks> gridTasksCompleted;
    //[Inject] NavigationManager NavigationManager { get; set; }

    protected async override void OnInitialized()
    {
        tasks = (await taskServices.GetAllActiveTasks());
        tasksCompleted = (await taskServices.GetAllCompletedTasks());
        taskStatusList = (await taskServices.GetAllTaskStatuses()).ToList();
        employeesList = (await taskServices.GetAllEmployeesForCurrentCompany()).ToList();
        tasksInProgress = (await taskServices.GetAllInProgressTasks()).ToList();
        news = (await newsServices.GetAllActiveNews()).ToList();
        await gridTasks.RefreshDataAsync();
        await gridTasksCompleted.RefreshDataAsync();
        await gridTasksInProgress.RefreshDataAsync();
        StateHasChanged();
    }

    #region News

    private List<WhatsNew> news = new List<WhatsNew>();
    private Modal newsModal;
    private Modal modalAddNews;
    private WhatsNew whatsNewModel = new WhatsNew();

    private async Task OnShowModalNewsClick(GridRowEventArgs<Tasks> args)
    {
        whatsNewModel = await whatsNewServices.GetNews(args.Item.Id);
        await newsModal?.ShowAsync();
    }

    private async Task OnHideModalNewsClick()
    {
        await newsModal?.HideAsync();
    } 

    private async Task OnShowModalNewsAddClick()
    {
        whatsNewModel = new WhatsNew();
        whatsNewModel.CreationDate = DateTime.Now;
        await modalAddNews?.ShowAsync();
    }

    private async Task OnHideModalNewsAddClick()
    {
        await modalAddNews?.HideAsync();
    }

    private async Task AddNews()
    {
        try
        {
            whatsNewModel.IsActive = true;
            var response = await whatsNewServices.AddNews(whatsNewModel);
            await modalAddNews?.HideAsync();
            if (response)
            {
                ShowMessage(ToastType.Success, "Success!", "Information added succesfully");
                news = (await newsServices.GetAllActiveNews()).ToList();
            }
            else
            {
                ShowMessage(ToastType.Warning, "Warning!", "Something went wrong while adding a information!");
            }
        }
        catch (Exception e)
        {
            ShowMessage(ToastType.Warning, "Warning!", $"{e.Message}");
        }
    }

    private async Task RefreshNews()
    {
        try
        {
            news = (await newsServices.GetAllActiveNews()).ToList();
            ShowMessage(ToastType.Success, "Success!", "Information refreshed succesfully");
        }
        catch (Exception e)
        {
            ShowMessage(ToastType.Warning, "Warning!", "Something went wrong while refreshing this component!");
        }
    }

    private async Task removeNews(int id)
    {
        try
        {
            var response = await whatsNewServices.RemoveNews(id);
            if (response)
            {
                ShowMessage(ToastType.Success, "Success!", "Information removed succesfully");
                news = (await newsServices.GetAllActiveNews()).ToList();
            }
            else
            {
                ShowMessage(ToastType.Warning, "Warning!", "Something went wrong while removing a information!");
            }
        }
        catch (Exception e)
        {
            ShowMessage(ToastType.Warning, "Warning!", "Something went wrong while removing this component!");
        }
    }

    #endregion

    #region DataGrid fillers

    private async Task<GridDataProviderResult<Tasks>> TasksDataProvider(GridDataProviderRequest<Tasks> request)
    {
        if (tasks is null) // pull employees only one time for client-side filtering, sorting, and paging
            tasks = await taskServices.GetAllActiveTasks(); // call a service or an API to pull the employees

        return await Task.FromResult(request.ApplyTo(tasks));
    }

    private async Task<GridDataProviderResult<Tasks>> TasksCompletedDataProvider(GridDataProviderRequest<Tasks> request)
    {
        if (tasksCompleted is null) // pull employees only one time for client-side filtering, sorting, and paging
            tasksCompleted = await taskServices.GetAllCompletedTasks(); // call a service or an API to pull the employees

        return await Task.FromResult(request.ApplyTo(tasksCompleted));
    } 

    private async Task<GridDataProviderResult<Tasks>> TasksProgressDataProvider(GridDataProviderRequest<Tasks> request)
    {
        if (tasksInProgress is null) // pull employees only one time for client-side filtering, sorting, and paging
            tasksInProgress = await taskServices.GetAllInProgressTasks(); // call a service or an API to pull the employees

        return await Task.FromResult(request.ApplyTo(tasksInProgress));
    }

    #endregion

    #region TasksMethods

    private async Task setCompleted(int id)
    {
        try
        {
            preloadService.Show(SpinnerColor.Dark);
            var isCompleted = await taskServices.CompleteTask(id);
            var taskCompleted = await taskServices.GetTaskAsync(id);
            tasks = await taskServices.GetAllActiveTasks();
            tasksCompleted = await taskServices.GetAllCompletedTasks();
            tasksInProgress = await taskServices.GetAllInProgressTasks();
            await modal?.HideAsync();
            await modalProgressTask?.HideAsync();
            preloadService.Hide();
            if (isCompleted)
            {
                ShowMessage(ToastType.Success, "Success!", $"Task {taskCompleted.Task} set to copleted");
            }
            else
            {
                ShowMessage(ToastType.Warning, "Warning!", "Something went wrong while completing a task!");
            }
            await gridTasks.RefreshDataAsync();
            await gridTasksCompleted.RefreshDataAsync();
            await gridTasksInProgress.RefreshDataAsync();
        }
        catch (Exception e)
        {
            ShowMessage(ToastType.Warning, "Warning!", e.Message);
        }
    }


    private async Task reverseCompleted(int id)
    {
        try
        {
            var isReversed = await taskServices.ReverseTask(id);
            tasks = await taskServices.GetAllActiveTasks();
            tasksCompleted = await taskServices.GetAllCompletedTasks();
            tasksInProgress = await taskServices.GetAllInProgressTasks();
            var taskReversed = await taskServices.GetTaskAsync(id);
            //NavigationManager.NavigateTo(NavigationManager.Uri, forceLoad: true);
            await modalComplete?.HideAsync();
            if (isReversed)
            {
                ShowMessage(ToastType.Success, "Success!", $"Task {taskReversed.Task} reversed");
            }
            else
            {
                ShowMessage(ToastType.Warning, "Warning!", "Something went wrong while reversing a task!");
            }
            await gridTasks.RefreshDataAsync();
            await gridTasksCompleted.RefreshDataAsync();
            await gridTasksInProgress.RefreshDataAsync();
        }
        catch (Exception e)
        {
            ShowMessage(ToastType.Warning, "Warning!", e.Message);
        }
    }

    private async Task removeTask(int id)
    {
        try
        {
            var taskRemoved = await taskServices.GetTaskAsync(id);
            var isRemoved = await taskServices.RemoveTask(id);
            tasks = await taskServices.GetAllActiveTasks();
            tasksCompleted = await taskServices.GetAllCompletedTasks();
            tasksInProgress = await taskServices.GetAllInProgressTasks();
            await modalComplete?.HideAsync();
            if (isRemoved)
            {
                ShowMessage(ToastType.Success, "Success!", $"Task {taskRemoved.Task} has been removed");
            }
            else
            {
                ShowMessage(ToastType.Warning, "Warning!", "Something went wrong while removing a task!");
            }
            await gridTasks.RefreshDataAsync();
            await gridTasksCompleted.RefreshDataAsync();
            await gridTasksInProgress.RefreshDataAsync();
        }
        catch (Exception e)
        {
            ShowMessage(ToastType.Warning, "Warning!", e.Message);
        }
    }

    private async Task setInProgress(int id)
    {
        try
        {
            var taskProgress = await taskServices.GetTaskAsync(id);
            taskProgress.TaskStatusId = 2;
            var isInProgress = await taskServices.UpdateTask(taskProgress);
            tasks = await taskServices.GetAllActiveTasks();
            tasksCompleted = await taskServices.GetAllCompletedTasks();
            tasksInProgress = await taskServices.GetAllInProgressTasks();
            await modalComplete?.HideAsync();
            await modal?.HideAsync();
            if (isInProgress)
            {
                ShowMessage(ToastType.Success, "Success!", $"Task {taskProgress.Task} has been state as in progress");
            }
            else
            {
                ShowMessage(ToastType.Warning, "Warning!", "Something went wrong while removing a task!");
            }
            await gridTasksInProgress.RefreshDataAsync();
            await gridTasks.RefreshDataAsync();
        }
        catch (Exception e)
        {
            ShowMessage(ToastType.Warning, "Warning!", e.Message);
        }
    }

    private async Task setAsOpen(int id)
    {
        try
        {
            var taskProgress = await taskServices.GetTaskAsync(id);
            taskProgress.TaskStatusId = 1;
            var isInProgress = await taskServices.UpdateTask(taskProgress);
            tasks = await taskServices.GetAllActiveTasks();
            tasksCompleted = await taskServices.GetAllCompletedTasks();
            tasksInProgress = await taskServices.GetAllInProgressTasks();
            await modalProgressTask?.HideAsync();
            if (isInProgress)
            {
                ShowMessage(ToastType.Success, "Success!", $"Task {taskProgress.Task} has been state as open");
            }
            else
            {
                ShowMessage(ToastType.Warning, "Warning!", "Something went wrong while setting a task to open");
            }
            await gridTasks.RefreshDataAsync();
            await gridTasksInProgress.RefreshDataAsync();
        }
        catch (Exception e)
        {
            ShowMessage(ToastType.Warning, "Warning!", e.Message);
        }
    }

    #endregion

    #region InProgress

    private Modal modalProgressTask;
    private Grid<Tasks> gridTasksInProgress;
    private List<Tasks> tasksInProgress = new List<Tasks>();

    #endregion

    #region ModalAddTask

    private Modal modalAddTask;
    private int selectedTaskStatusId; // To hold the selected value
    private int selectedEmployeeId; // To hold the selected value
    private Tasks taskModel = new Tasks();

    private async Task OnShowModalAddTaskClick()
    {
        taskModel = new Tasks();
        taskModel.CompleteBy = DateTime.Now;
        await modalAddTask?.ShowAsync();
    }

    private async Task OnHideModalAddTaskClick()
    {
        await modalAddTask?.HideAsync();
    }

    private void OnTaskAccessSelected(ChangeEventArgs e)
    {
        if (int.TryParse(e.Value.ToString(), out int selectedId))
        {
            selectedTaskStatusId = selectedId;
        }
    }
    private void OnEmployeeAccessSelected(ChangeEventArgs e)
    {
        if (int.TryParse(e.Value.ToString(), out int selectedId))
        {
            selectedEmployeeId = selectedId;
        }
    }

    private async Task addTask()
    {
        try
        {
            preloadService.Show(SpinnerColor.Dark);
            if (string.IsNullOrEmpty(taskModel.Task) ||
                string.IsNullOrEmpty(taskModel.Description))
            {
                ShowMessage(ToastType.Warning, "Warning!", "Task and Description cannot be empty");
                return;
            }
            taskModel.CreationDate = DateTime.Now;
            taskModel.ModificationDate = DateTime.Now;
            taskModel.EmployeeId = selectedEmployeeId;
            taskModel.IsActive = true;
            taskModel.TaskStatusId = selectedTaskStatusId;
            var response = await taskServices.AddNewTask(taskModel);
            tasks = await taskServices.GetAllActiveTasks();
            tasksCompleted = await taskServices.GetAllCompletedTasks();
            tasksInProgress = await taskServices.GetAllInProgressTasks();
            
            tasks = (await taskServices.GetAllActiveTasks()).ToList();
            preloadService.Hide();
            //NavigationManager.NavigateTo(NavigationManager.Uri, forceLoad: true);
            if (response)
            {
                ShowMessage(ToastType.Success, "Success!", "Task added succesfully");
            }
            else
            {
                ShowMessage(ToastType.Warning, "Warning!", "Something went wrong while adding a task!");
            }
            modalAddTask?.HideAsync();
            await gridTasks.RefreshDataAsync();
            await gridTasksCompleted.RefreshDataAsync();
            await gridTasksInProgress.RefreshDataAsync();
        }
        catch (Exception e)
        {
            ShowMessage(ToastType.Warning, "Warning!", e.Message);
        }
    }

    #endregion

    #region ModalRowProperties

    private Modal modal;
    private Modal modalComplete;
    private Tasks modalTask = new Tasks();

    private async Task OnShowModalClick(GridRowEventArgs<Tasks> args)
    {
        modalTask = await taskServices.GetTaskAsync(args.Item.Id);
        modalTask.TaskStatus = taskStatusList.Where(item => item.Id == modalTask.TaskStatusId).FirstOrDefault();
        await modal?.ShowAsync();
    }
    
    private async Task OnShowCompletedModalClick(GridRowEventArgs<Tasks> args)
    {
        modalTask = await taskServices.GetTaskAsync(args.Item.Id);
        modalTask.TaskStatus = taskStatusList.Where(item => item.Id == modalTask.TaskStatusId).FirstOrDefault();
        await modalComplete?.ShowAsync();
    } 
    
    private async Task OnShowProgressModalClick(GridRowEventArgs<Tasks> args)
    {
        modalTask = await taskServices.GetTaskAsync(args.Item.Id);
        modalTask.TaskStatus = taskStatusList.Where(item => item.Id == modalTask.TaskStatusId).FirstOrDefault();
        await modalProgressTask?.ShowAsync();
    }

    private async Task OnHideModalClick()
    {
        await modal?.HideAsync();
    }

    private async Task OnHideModalAddClick()
    {
        await modalAddTask?.HideAsync();
    }

    private async Task OnHideModalCompleteClick()
    {
        await modalComplete?.HideAsync();
    }
    
    private async Task OnHideModalProgressClick()
    {
        await modalProgressTask?.HideAsync();
    }
    #endregion
}
