@model EnterpriseMaster.DbServices.Models.Database.ProfessionalPlanPage
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";
}
<link href="~/css/subscriptions.css" rel="stylesheet" type="text/css">
<br />
<br />
@{
    var notes = @Model.Notes.Split(':');
}
<div class="basic-subscription-details">
    <h1>@notes[0]</h1>
    <p>@notes[1]</p>
</div>
<div class="basic-subscription-container">
    <div class="basic-subscription-container">
       
        <div class="basic-feature">
            @if (Model.ProfessionalPlan != null)
            {
                <img class="basic-subscription-img" src="data:image;base64,@Convert.ToBase64String(Model.ProfessionalPlan)" alt="Basic Financial Management">
            }
            <div class="basic-feature-text">
                <h2>@Model.ProfessionalPlanTextTitle</h2>
                <p>@Model.ProfessionalPlanText</p>
            </div>
        </div>

        <div class="basic-feature professional-feature">
            <div class="basic-feature-text">
                <h2>@Model.ManageCustomerDataTextTitle</h2>
                <p>@Model.ManageCustomerDataText</p>
            </div>
            @if (Model.ManageCustomerData != null)
            {
                <img class="basic-subscription-img" src="data:image;base64,@Convert.ToBase64String(Model.ManageCustomerData)" alt="Basic Financial Management">
            }
        </div>

        <!-- Spacing -->
        <div style="height: 20px;"></div>

        <!-- Professional Feature 2 -->
        <div class="basic-feature professional-feature">
            @if (Model.PlanSalesActivities != null)
            {
                <img class="basic-subscription-img" src="data:image;base64,@Convert.ToBase64String(Model.PlanSalesActivities)" alt="Basic Financial Management">
            }
            <div class="basic-feature-text">
                <h2>@Model.PlanSalesActivitiesTextTitle</h2>
                <p>@Model.PlanSalesActivitiesText</p>
            </div>
        </div>

        <!-- Spacing -->
        <div style="height: 20px;"></div>

        <!-- Professional Feature 3 -->
        <div class="basic-feature professional-feature">
            <div class="basic-feature-text">
                <h2>@Model.AdvancedAccountingTextTitle</h2>
                <p>@Model.AdvancedAccountingText</p>
            </div>
            @if (Model.AdvancedAccounting != null)
            {
                <img class="basic-subscription-img" src="data:image;base64,@Convert.ToBase64String(Model.AdvancedAccounting)" alt="Basic Financial Management">
            }
        </div>
    </div>
</div>
<div class="subscription-container-pay">
    <div class="buy-now-container">
        <button class="button-71" onclick="location.href='@Url.Action("Index", "Checkout", new { type = "professional" })'">Buy Now</button>
        <p class="buy-now-description">@Model.GetStarted</p>
    </div>
</div>